* {
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family : Arial , sans-serif;
}

body {
    background: linear-gradient(135deg, brown 0%, beige 100%);
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
}

#borderBox{
    border: 2px solid black;
    padding: 5px;
    background: linear-gradient(135deg, beige 0%, brown 100%)
}

#diceBox {
    display:flex;
    gap: 10px;
    justify-content: center;
}

#diceBox p {
    cursor: pointer;
    user-select: none; /* Prevent text selection on click */
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
    width: 50px;
    text-align: center;
    background-color: beige;
}

#diceBox p.held {
    background: beige;
    border-color: red;
}

#ThrowCount {
    width: 70px;
    height: 30px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
}

#tablePartBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#tableNumbersBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.numberItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#tableMiscBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#BonusBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.scoringBoxItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.scoringItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea.locked{
    background-color: lightgray;
    border: 2px solid gray;
    color: darkgray;
    opacity: 0.95;
}

li {
    color: beige;
}
