* {
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family : Arial , sans-serif;
}

body {
    background: linear-gradient(135deg, brown 0%, beige 100%);
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 20px;
}

#borderBox{
    border: 2px solid black;
    padding: 5px;
    background: linear-gradient(135deg, beige 0%, brown 100%)
}

#diceBox {
    display:flex;
    gap: 5px;
    justify-content: center;
}

#tablePartBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#tableNumbersBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.numberItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#tableMiscBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#BonusBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.scoringBoxItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.scoringItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    color: beige;
}
